div.content_display_list {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
}

div.content_display_choose {
    display: flex;
    justify-content: space-between;
    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-top: 3%;
    padding-bottom: 5%;
}
