div.content_display_list {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
}

div.content_display_choose {
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3%;
}
