<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="icon" type="image/png" sizes="128x128" href="{{ url_for('static', filename='images/dt_icon.png') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main_styles.css') }}" />
        <title>{{ title }}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg" style="background-color: #f0f0f0;">
            <div class="container-fluid">
                <h1 style="margin-left: 1.5%;">
                    <img src="{{ url_for('static', filename='images/dt_icon.png') }}"
                         class="d-inline-block align-text-top" width="64" height="64">
                    DegradationTests
                </h1>
                {% if current_user.is_authenticated %}
                    {% if not current_user.avatar %}
                        <img class="avatar" src="{{ url_for('static', filename='images/default_avatar.jpg') }}">
                    {% else %}
                        <img class="avatar" src="{{ url_for('user_avatar') }}">
                    {% endif %}
                    <div class="collapse navbar-collapse">
                        <div class="navbar-nav" style="padding-left: 1%; font-size: large;">
                            <a class="nav-link active"><b>
                                {{ current_user.name }}
                            </b></a>
                            <a class="nav-link" href="/logout">Выйти</a>
                            <a class="nav-link" href="/delete_user">Удалить аккаунт</a>
                            <a class="nav-link" href="/">На главную</a>
                        </div>
                    </div>
                {% else %}
                    <div class="collapse navbar-collapse">
                        <div class="navbar-nav" style="margin-left: 60%; font-size: large;">
                            <a class="nav-link" href="/register">Зарегистрироваться</a>
                            <a class="nav-link" href="/login">Войти</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>