{% extends "base.html" %}

{% block content %}
    <form action="" method="post" class="test_form" autocomplete="off">
        {{ form.hidden_tag() }}
        {% if not editing %}
            <a class="btn btn-secondary" style="width: 20%; height: 35px;" href="/choose_type">Назад</a>
        {% else %}
            <a class="btn btn-secondary" style="width: 20%; height: 35px;" href="/">Назад</a>
        {% endif %}
        <hr size="5px" color="#242424">
        <h2>Тест: проверка личности</h2>
        <p>
            <hr size="5px" color="#242424">
            <h5><b>Дополните: "Какой вы ... ?"</b></h5>
            {{ form.test_title(class="form-control", autocomplete="off") }}
            {% for error in form.test_title.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            <hr size="5px" color="#242424">
            <h5><b>{{ form.test_description.label }}</b></h5>
            {{ form.test_description(class="form-control") }}
            {% for error in form.test_description.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        {% for question in form.questions %}
            <p>
                <hr size="5px" color="#242424">
                <h5><b>{{ question.title.label }} №{{ loop.index }}:</b></h5>
                {{ question.title(class="form-control", autocomplete="off") }}
                {% for error in question.title.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
                <hr size="5px" color="#242424">

                <p>
                    <div><b>
                        {{ question.answer_1.label }}
                        <span style="padding-left: 59.5%;">Вариант:</span>
                    </b></div>
                    <div class="input-group">
                        {{ question.answer_1(class="form-control", style="width: 75%", autocomplete="off") }}
                        {{ question.choose_num_1(class="form-control", style="width: 25%") }}
                        {% for error in question.answer_1.errors %}
                            <p class="alert alert-danger" role="alert">
                                {{ error }}
                            </p>
                        {% endfor %}
                    </div>
                </p>

                <p>
                    <div><b>
                        {{ question.answer_2.label }}
                        <span style="padding-left: 59.5%;">Вариант:</span>
                    </b></div>
                    <div class="input-group">
                        {{ question.answer_2(class="form-control", style="width: 75%", autocomplete="off") }}
                        {{ question.choose_num_2(class="form-control", style="width: 25%") }}
                        {% for error in question.answer_2.errors %}
                            <p class="alert alert-danger" role="alert">
                                {{ error }}
                            </p>
                        {% endfor %}
                    </div>
                </p>

                <p>
                    <div><b>
                        {{ question.answer_3.label }}
                        <span style="padding-left: 59.5%;">Вариант:</span>
                    </b></div>
                    <div class="input-group">
                        {{ question.answer_3(class="form-control", style="width: 75%", autocomplete="off") }}
                        {{ question.choose_num_3(class="form-control", style="width: 25%") }}
                        {% for error in question.answer_3.errors %}
                            <p class="alert alert-danger" role="alert">
                                {{ error }}
                            </p>
                        {% endfor %}
                    </div>
                </p>

                <p>
                    <div><b>
                        {{ question.answer_4.label }}
                        <span style="padding-left: 59.5%;">Вариант:</span>
                    </b></div>
                    <div class="input-group">
                        {{ question.answer_4(class="form-control", style="width: 75%", autocomplete="off") }}
                        {{ question.choose_num_4(class="form-control", style="width: 25%") }}
                        {% for error in question.answer_4.errors %}
                            <p class="alert alert-danger" role="alert">
                                {{ error }}
                            </p>
                        {% endfor %}
                    </div>
                </p>
            </p>
        {% endfor %}
        <hr size="5px" color="#242424">
        <h5><b>Результаты ("Поздравляем! Вы ...")</b></h5>
        <hr size="5px" color="#242424">
        <p>
            <b>{{ form.result_num_1.label }}</b><br>
            {{ form.result_num_1(class="form-control", autocomplete="off") }}
            {% for error in form.result_num_1.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            <b>{{ form.result_num_2.label }}</b><br>
            {{ form.result_num_2(class="form-control", autocomplete="off") }}
            {% for error in form.result_num_2.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            <b>{{ form.result_num_3.label }}</b><br>
            {{ form.result_num_3(class="form-control", autocomplete="off") }}
            {% for error in form.result_num_3.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            <b>{{ form.result_num_4.label }}</b><br>
            {{ form.result_num_4(class="form-control", autocomplete="off") }}
            {% for error in form.result_num_4.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.privacy() }} <b>{{ form.privacy.label }}</b></p>
        <p>
            {{ form.submit(type="submit", class="btn btn-primary") }}
            {% if editing %}
                <a class="btn btn-danger" href="/test_delete/{{ test_id }}">Удалить</a>
            {% endif %}
        </p>
        <div>{{ message }}</div>
    </form>
{% endblock %}